---
import { Image } from 'astro:assets';
import {getCollection} from 'astro:content';

const blogEntries = await getCollection('blog', ({ data }) => {
    return data.publish === true;
});

---
<div class="my-16">
    <ul>
        {blogEntries.map(blogPostEntry => (
            <li>
                <a href={`/blog/${blogPostEntry.slug}`}>
                    <Image src={blogPostEntry.data.cover??'/assets/team/czarek.png'} alt={blogPostEntry.data.coverAlt??''} width="250" height="250" />
                    <h2>{blogPostEntry.data.title}</h2>
                    <time datetime={blogPostEntry.data.createdAt.toISOString()}>
                        {blogPostEntry.data.createdAt.toLocaleDateString('pl')}
                    </time>
                    <ul>
                        {blogPostEntry.data.author.map(author => (
                            <li>{author}</li>
                        ))}
                    </ul>
                    <article>{blogPostEntry.data.description}</article>
                </a>
            </li>
        ))}
    </ul>
</div>
