---
import Badge from "./Badge.astro";
import SectionHeader from "./SectionHeader.astro";
import Link from "./Link.astro";

const projects = [
    {
        title: "Minimum Viable Utopia",
        description: "Społeczność skupiona wokół wyzwań współczesności",
        logo: "/assets/projects/mvu.svg",
        url: "https://mvu.pl",
        badge: null
    },
    {
        title: "Eden Learning Garden",
        description: "Cykl meetupów poruszająch różne aspekty nowoczesnych technologii",
        logo: "/assets/projects/eden.svg",
        url: "https://eden.mvu.pl",
        badge: null
    },
    {
        title: "Odzież Robocza",
        description: "Ubrania robocze nowej generacji",
        logo: "/assets/projects/or.svg",
        url: "https://odziez.robocza.org",
        badge: {
            bg: "bg-[url('/assets/badge/or.svg')] bg-[#ff6651]",
        }
    },
    {
        title: "Agrocybernetyka",
        description: "Inicjatywa agrofuturystyczna",
        logo: "/assets/projects/agrocybernetyka.svg",
        url: "https://agrocybernetyka.pl/",
        badge: null
    },
];
---
<div class="my-6 md:my-12">
    <SectionHeader>
        <Fragment slot="title">Nasze projekty</Fragment>
    </SectionHeader>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 sm:gap-4 xl:gap-6 mt-8 mb-4 md:mt-16 md:mb-8">
    {
        projects.map((item) => (
                <div class="text-center relative p-4 flex">
                    {item.badge && <Badge bg={item.badge.bg}></Badge>}
                    <div class="grid place-items-center grow grid-rows-2">
                        <div class="self-center mt-4 md:mt-8 px-4">
                            <a href={item.url}>
                                <img src={item.logo} alt={item.title}/>
                            </a>
                        </div>
                        <div class="mt-4 md:mt-8 self-start text-xl text-center">
                            <Link url={item.url} text={item.description} />
                        </div>
                    </div>
                </div>
        ))
    }
</div>
