---
// import {getCollection} from 'astro:content';
import MailLink from "./MailLink.astro"
import SectionHeader from "./SectionHeader.astro";
import {Image} from '@astrojs/image/components';

// const teamMembers = await getCollection('team');
const teamMembers = await Astro.glob('./../content/team/*.md');
---
<div class="my-16">
    <SectionHeader>
        <Fragment slot="title">Zespół</Fragment>
    </SectionHeader>

    <div class="grid grid-cols-2 gap-6 mt-20">
        {
            teamMembers.map((teamMemberEntry) => (
                <div class=" border-2 border-black">
                    <div class="">
                        <div class="p-12">
                            <div class="float-right -mr-12 -mt-12 mb-12 max-w-xs">
                                <img src={teamMemberEntry.frontmatter.picture}
                                     alt={teamMemberEntry.frontmatter.name}/>
                            </div>
                            <h2 class="text-4xl leading-normal">
                                {teamMemberEntry.frontmatter.name}
                            </h2>
                            <h3 class="text-3xl leading-normal">
                                {teamMemberEntry.frontmatter.title}
                            </h3>
                            <br>
                            <br>
                            <MailLink email={teamMemberEntry.frontmatter.email}
                                      className="text-2xl underline break-all"/>
                        </div>
                        <div class="m-12 text-2xl leading-normal clear-both">
                            <teamMemberEntry.Content/>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</div>